
#body-garantias {
  background:#ececec ;
}

#title-garantias {
    display: flex;
    text-align: center;
    color:#fff ;
}

tbody {
    width:100%;
    background-color: #e4f0f5;
    display:flex;
    justify-content:center;
}

#tabla {
   
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 60px;
}

#encabezado,
th1,
th2,
th3,
th4,
th5,
th6 {
    background-color:#fff;
    border: 2px solid rgb(54, 52, 52);
        font-weight: 300;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td {
    text-align: center;
}
#leyenda {
    color:#13293d;
   margin-left: .5rem;
 }
#rojo {
    color:#d83939;
}
    